h1 {
    color: #DAA520 ;
    text-align: center;
    font-family: "Arial", "sans-serif";
}

.link {
    text-decoration: none;
    font-size: 30px;
}
.link a:hover {
    color: #5511E8;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}
/*------------------------images------------------------*/
img {
    width: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

/*--------------------------Ul/LI------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    margin-top: 1em;
    margin-left: 3em;
    padding-right: 1em;
}

li a {
    color: purple;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
}

li a:hover {
    color: red;
}

/*--------------------------Ul/LI------------------------*/
/*--------------------------wrapper------------------------*/
div#wrapper {
    margin-left: 20em;
    margin-top: 10em;
}